.course-detail h1{
    color: rgb(148, 22, 22);
}
.title{
   display: flex; 
  justify-content: center;
}

.title button{
   color:  rgb(148, 22, 22) ;
   font-weight: 500;
}

.course-detail img{
   height: 420px;
   width: 75%;
   margin-top: 15px;
}
.button-area{
   margin-top: 6px;
}

@media screen and ( max-width: 902px){
  .course-detail{
   width: 100%;
  }
   .course-detail img{
    width: 100%;
  }
.title{
   flex-direction: column;
}
.button-area{
   margin-right: 10%;
}
}
  
