.course-detail h1{
    color: rgb(148, 22, 22);
}

.course-detail img{
   height: 350px;
}


@media screen and ( max-width: 902px){
  .course-detail{
     margin: 0;
     padding: 0;
     width: 100%;
  }
  .course-detail p{
     margin: 0;
     padding: 0;
  }
  .course-detail img{
    width: 100%;
  }



}
  
