.checkout-container{
  height: 300px;
  width: 600px;
  margin-bottom: 300px;
  margin-top: 80px;
}
.checkout-card{
   height: 400px;
   width: 300px;
}

@media screen and (max-width: 902px){
  .checkout-container{
    width: 95%;
  } 
  .checkout-card{
      width: 95%;
  }
 
}