.menu{
       margin-right: 17px;
       text-decoration: none;
}
.menu:hover{
   color: rgb(148, 22, 22);
}
.title{
  color: rgb(148, 22, 22);
}

#logo{
  width: 24px;
  height: 30px;
  margin-right: 10px;
 background-color: black;
 padding: 4px;
 margin-bottom: 5px;
}

