.post-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center; 
  justify-content: center; 
  margin-top: 50px;    
}
.blog{
margin-top: 50px;
color: rgb(45, 45, 197);
}

@media screen and (max-width: 902px){
.post-container{
grid-template-columns: 1fr;
}
}