.login-container{
  width: 50%;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 40px;
  margin-top: 70px;
  margin-bottom: 50px;
}

@media screen and (max-width: 902px){
  .login-container{
    width: 80%;
    margin-top: 40px;
    padding: 20px;
  }
  .login-btn{
     width: 50%;
  }
  .other-login-btn{
     width: 75%;
  }
}


