body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-theme{
  background-color: black;
  color: white;
  height: 60vw;
}
.light-theme{
   background-color: gainsboro;
   height: 60vw;

}

.theme-btn{
  margin-left: 80%;
}

@media screen and (max-width: 900px) {
  .theme-btn{
    margin-left: 60%;
  } 
}